@model IEnumerable<MVC_Proj.Models.Entites.Cities>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
<h2>Cities List</h2>
<a asp-action="Create">Create </a>
<table class="table-bordered">
    <thead>
    <th>@Html.DisplayNameFor(model => model.CityID)</th>

    <th>@Html.DisplayNameFor(model => model.Name)</th>

    <th>@Html.DisplayNameFor(model => model.Notes)</th>

    <th>@Html.DisplayNameFor(model => model.createdDate)</th>
    <th>@ViewBag.MyViewBag</th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.CityID)</td>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.Notes)</td>
                <td>@Html.DisplayFor(model => item.createdDate)</td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.CityID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CityID })
                </td>
                <td>
                    <partial name="~/Views/Shared/_PartialView.cshtml" />
                </td>
            </tr>
        }
    </tbody>
</table>

